.edit-post-visual-editor {
  @include table;
}

button[style*="background-color: rgb(252, 240, 239); color: rgb(252, 240, 239);"] {
  background-color: white !important;
  color: white !important;
  pointer-events: none;

  &::after {
    display: none;
  }
}
