// P4 Blocks
@import "blocks/Columns";
@import "blocks/File";
@import "blocks/Happypoint";
@import "blocks/SocialMediaCards";

// Other
@import "blocks/WideBlocks";

.is-style-space-evenly {
  gap: 24px !important;

  & > * {
    flex-grow: 1;
    flex-basis: 100%;
    align-self: stretch;

    @include medium-and-up {
      flex-grow: 0;
      flex-basis: calc(50% - 12px);
    }

    @include large-and-up {
      flex-basis: calc(25% - 18px);
    }
  }
}

.is-style-reset-margin {
  margin: 0 !important;
}
