@import "master-theme/assets/src/scss/base/colors";
@import "master-theme/assets/src/scss/base/variables";
@import "master-theme/assets/src/scss/base/colors";
@import "master-theme/assets/src/scss/base/functions";
@import "master-theme/assets/src/scss/base/mixins";
@import "master-theme/assets/src/scss/base/fonts";

@import "blocks";

@import "blocks/ArticlesEditor";
@import "blocks/ColumnsEditor";
@import "blocks/SplitTwoColumnsEditor";
@import "blocks/SubmenuEditor";
@import "blocks/HappypointEditor";
@import "blocks/ENForm/ENFormEditorStyle";
@import "blocks/TakeActionBoxout/edit";
@import "blocks/CookiesEditor";
@import "blocks/core-overrides/HeadingEditor";
@import "../variations/stretched-link/edit";

@import "components/LayoutSelector";
@import "components/EmptyMessage";
@import "components/Preview";
@import "components/CharacterCounter";
@import "components/FormSectionTitle";
@import "components/FormHelp";
@import "components/InlineFormFeedback";
@import "components/ValidationMessage";
@import "components/FormField";
@import "components/HTMLSidebarHelp";
@import "components/ImageHoverButtons";
@import "editorFonts";

@import "../styles/master-theme/admin/css/picker.css";

.block-edit-mode-warning {
  padding: $sp-2;
  margin: 0;
}

.block-editor-block-list__layout > * {
  margin-top: $sp-1;
  margin-bottom: $sp-2;

  @include large-and-up {
    margin-top: $sp-2;
    margin-bottom: $sp-4;
  }
}

.media-archive-btn {
  position: absolute;
  top: 111px;
  right: 380px;
}

.media-archive-modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100vw !important;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0,0,0,.5);
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // margin: auto;
  padding: 20px;


  .header {
    background-color: white;
    padding: 20px;
    position: relative;

    span {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }

  .archive-image-container {
    background-color: white;
    width: 90%;
    height: 90%;
    margin: auto;
  }
}
